<div class="gamepad">
  <div class="dpad">
    <button
      type="button"
      id="btn-up"
      class="btn up"
      (mousedown)="startMove('UP')"
      (touchstart)="startMove('UP')"
      [class.active]="activeButtons['UP']"
    >
      ▲
    </button>

    <button
      type="button"
      id="btn-left"
      class="btn left"
      (mousedown)="startMove('LEFT')"
      (touchstart)="startMove('LEFT')"
      [class.active]="activeButtons['LEFT']"
    >
      ◀
    </button>

    <button
      type="button"
      id="btn-right"
      class="btn right"
      (mousedown)="startMove('RIGHT')"
      (touchstart)="startMove('RIGHT')"
      [class.active]="activeButtons['RIGHT']"
    >
      ▶
    </button>

    <button
      type="button"
      id="btn-down"
      class="btn down"
      (mousedown)="startMove('DOWN')"
      (touchstart)="startMove('DOWN')"
      [class.active]="activeButtons['DOWN']"
    >
      ▼
    </button>
  </div>

  <div class="actions">
    <button
      type="button"
      class="horn-btn"
      [class.active]="activeButtons['HORN']"
      (mousedown)="startMove('HORN')"
      (touchstart)="startMove('HORN')"
    >
      CLAXON
    </button>
  </div>
</div>
