<div class="track">
  <h1>JoyPadWeb - Monitor</h1>
  <p>
    ID de Sala: <strong id="room-id">{{ roomId() }}</strong>
  </p>

  <div class="debug-panel">
    <p>Jugadores activos: {{ players().size }}</p>
    @for (player of playerList(); track player.id) {
      <p>
        ID: {{ player.id.substring(0, 5) }} - Vel:
        {{
          Math.sqrt(
            player.vX * player.vX + player.vY * player.vY
          ) | number: "1.1-1"
        }}
      </p>
    }
  </div>

  @for (player of playerList(); track player.id) {
    <div class="car" [style.left.%]="player.posX" [style.top.%]="player.posY">
      <span [style.transform]="player.lastTransform" [style.color]="player.carColor">{{ getCarIcon(player.carModel) }}</span>
      <span class="player-label">{{ player.name }}</span>
      @if (player.isHonking) {
        <div class="horn-wave"></div>
      }
    </div>
  }
</div>
